@import '../../styles/_theme';
.button {
  &--primary {
    background-color: $transparent;
    color: $lime-green;
    border: 2px solid $lime-green;
  }
  &--secondary {
    background-color: $transparent;
    color: $lemon-yellow;
    border: 2px solid $lemon-yellow;
  }
  &--disabled {
    opacity: 0.25;
    background-color: $green-gray;
    color: $dark-green-gray;
    border: 2px solid $dark-green-gray;
    cursor: not-allowed;
  }
  cursor: pointer;
  border-radius: 0.3rem;
  transition-duration: 0.4s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0 0.5rem;
  span {
    max-width: 100%;
    white-space: nowrap;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline;
  }
}

.button-deafult {
  width: 7rem;
  height: 2rem;
  max-width: 7rem;
  max-height: 2rem;
}
