// Fonts
$primary-font: "Sans Serif", sans-serif;
$secondary-font: "Open Sans", sans-serif;

//Color Palete https://www.color-hex.com/color-palette/4812
$lime: #a0ea1f;
$lime-green: #b0d426;
$green: #cbe737;
$lemon: #cbe737;
$lemon-yellow: #e8f964;

//Auxiliar Colors
$white: #ffffff;
$black: #000000;
$transparent: "transparent";
